* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;

    font-family: 'Caveat', cursive;
    font-family: 'El Messiri', sans-serif;
}



.qe {
    background-color: rgb(5, 63, 61);
    height          : 100%;
}


.home {
    position               : relative;
    top                    : 50px;
    left                   : 18%;
    width                  : 60%;
    height                 : 50%;
    background-color       : gold;
    box-shadow             : 20px 20px 2px goldenrod;
    border-top-right-radius: 50px;
}


.imgs {
    width           : 100%;
    height          : 60px;
    position        : relative;
    background-color: rgba(0, 0, 0, 20%);
    text-align      : center;
}

.imgs img {
    width: 90px;


}


.home p {
    width           : 80%;
    margin          : 20px auto;
    height          : 150px;
    text-align      : center;
    border-left     : 4px solid;
    border-right    : 4px solid;
    position        : absolute;
    top             : 40%;
    left            : 10%;
    padding         : 10px;
    font-size       : 20px;
    border-radius   : 10px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: goldenrod;

}

.home p:hover {
    color           : gold;
    background-color: black;
    border-left     : 3px solid rgb(255, 255, 255);
    border-right     : 3px solid rgb(255, 255, 255);

}


.quoteText h3 {
    border-bottom: 2px solid;
    width        : 300px;
    text-align   : center;
    margin       : 15px auto;
    border-radius: 10px;
}

.info {
    color      : white;
    padding-top: 10px;


}

.infoo {
    background-color: rgba(0, 0, 0, 20%);

}

.button {
    position        : absolute;
    bottom          : 20%;
    left            : 43%;
    transition      : all 0.3s ease-in-out;
    box-shadow      : 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block   : 0.5rem;
    padding-inline  : 1.25rem;
    background-color: goldenrod;
    border-radius   : 9999px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    color           : #000000;
    gap             : 10px;
    font-weight     : bold;
    border          : 3px solid #ffffff4d;
    outline         : none;
    overflow        : hidden;
    font-size       : 25px;
    border          : none;
}

i {
    width     : 24px;
    height    : 24px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform   : scale(1.05);
    border-color: #fff9;
}

.button:hover i {
    transform: translate(4px);
}

.button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button::before {
    content : "";
    position: absolute;
    width   : 100px;
    height  : 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top    : 0;
    left   : -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}





@media screen and (max-width: 500px) {
    .home {

        top   : 20px;
        left  : 35px;
        width : 80%;
        height: 60%;
    }


    .quoteText h3 {
        width    : 100%;
        font-size: 16px;

    }

    .button {
        bottom   : 60px;
        left     : 90px;
        font-size: 20px;
    }
}